<nav class="top-nav" *ngIf="fire.user">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Hero Burguer</a>
    <ul id="nav-mobile" class="menu right hide-on-med-and-down">
      <li><a (click)="logout()">Sair</a></li>
    </ul>
  </div>
</nav>

<!--<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Hero Burguer</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-button (click)="logout()">Sair</button>
    <span> &nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span> &nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span> &nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span> &nbsp;&nbsp;&nbsp;&nbsp;</span>
  </mat-toolbar-row>
</mat-toolbar>-->